// Your custom variables
$yellow: #FFED00;

$primary: $yellow;
$secondary: black;

$font-stack: "Montserrat";

$form-notch-div-border-color: $secondary;
$input-focus-border-color: $secondary;
$input-focus-border-width: 1px;