// CORE FUNCTIONS
@import './bootstrap-rtl-fix/functions';
@import './free/functions';

// CORE VARIABLES
@import './custom/variables';
@import './free/variables';
@import './bootstrap-rtl-fix/variables';
@import './bootstrap-rtl-fix/maps';

// BOOTSTRAP CORE
@import './bootstrap-rtl-fix/mixins';
@import './bootstrap-rtl-fix/utilities';

// BOOTSTRAP CORE COMPONENTS
@import './bootstrap-rtl-fix/root';
@import './bootstrap-rtl-fix/reboot';
@import './bootstrap-rtl-fix/type';
@import './bootstrap-rtl-fix/images';
@import './bootstrap-rtl-fix/containers';
@import './bootstrap-rtl-fix/grid';

// BOOTSTRAP COMPONENTS
@import './bootstrap-rtl-fix/tables';
@import './bootstrap-rtl-fix/forms';
@import './bootstrap-rtl-fix/buttons';
@import './bootstrap-rtl-fix/transitions';
@import './bootstrap-rtl-fix/dropdown';
@import './bootstrap-rtl-fix/button-group';
@import './bootstrap-rtl-fix/nav';
@import './bootstrap-rtl-fix/navbar';
@import './bootstrap-rtl-fix/card';
@import './bootstrap-rtl-fix/breadcrumb';
@import './bootstrap-rtl-fix/pagination';
@import './bootstrap-rtl-fix/badge';
@import './bootstrap-rtl-fix/alert';
@import './bootstrap-rtl-fix/accordion';
@import './bootstrap-rtl-fix/progress';
@import './bootstrap-rtl-fix/placeholders';
@import './bootstrap-rtl-fix/list-group';
@import './bootstrap-rtl-fix/close';
@import './bootstrap-rtl-fix/toasts';
@import './bootstrap-rtl-fix/modal';
@import './bootstrap-rtl-fix/popover';
@import './bootstrap-rtl-fix/carousel';
@import './bootstrap-rtl-fix/spinners';
@import './bootstrap-rtl-fix/offcanvas';
@import './bootstrap-rtl-fix/tooltip';

// Helpers
@import './bootstrap-rtl-fix/helpers';

// Utilities
@import './free/utilities';
@import './bootstrap-rtl-fix/utilities/api';

// MDB CORE
@import './free/mixins';
@import './custom/mixins';
@import './free/utilities';

// MDB CORE COMPONENTS
@import './free/root';
@import './free/reboot';
@import './free/type';
@import './free/colors';
@import './free/shadows';
@import './free/flag';
@import './free/images';

// MDB FORMS
@import './free/forms/form-control';
@import './free/forms/form-select';
@import './free/forms/form-check';
@import './free/forms/form-file';
@import './free/forms/input-group';
@import './free/forms/validation';
@import './free/forms/form-range';

// MDB COMPONENTS
@import './free/tables';
@import './free/buttons';
@import './free/deprecated';
@import './free/dropdown';
@import './free/button-group';
@import './free/nav';
@import './free/navbar';
@import './free/card';
@import './free/breadcrumb';
@import './free/pagination';
@import './free/badge';
@import './free/alert';
@import './free/progress';
@import './free/list-group';
@import './free/close';
@import './free/modal';
@import './free/toasts';
@import './free/tooltip';
@import './free/popover';
@import './free/scrollspy';
@import './free/ripple';
@import './free/range';
@import './free/accordion';
@import './free/carousel';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');


:root {
    --mdb-body-font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $secondary;
    border-radius: 10px;
    
}

::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 3px;
    width: 3px;
}


  

body {
    background-color: $secondary;
}

.logo-navbar {
    height: 70px;
    width: auto;
    
    
    
}
.menu {
    width: 100%;
    justify-content: space-around;
    margin: 0 auto;
}

.body-logo {
    padding-bottom: 6rem;
}

.logo {
    width: auto;
    height: 200px;
    margin-top: 150px;

}

.fas {
    color: $white;
    font-size: 2rem;
}

.arrow {
    margin-top: 5rem;
}

h1 {
    font-weight: 600;
}

.foto-profilo{
        width: auto;
        height: 300px;
 }

 
.container .nav .active {
    background-color: $primary !important;
    color: $secondary !important;
    border-bottom: 3px solid $secondary;
    
}

.container .nav .nav-link {
    color: $secondary !important;
    font-size: 10;
    font-weight: 600;
}

.container .nav .nav-link:hover {
    background-color: rgba($color: #FFED00, $alpha: 0.8) !important;

}

strong,
em {
    font-weight: 600;
}

a {
    color: $secondary;
}
a:hover{
    background-color: $secondary;
    color: $primary;
}


.about {

    height: 1300px;
     
    .tab-pane {
        height: 700px;
    }

    .fas {
        color: $secondary;
        font-size: 1rem;
    }

   .data {
    background-color: $secondary;
    color: $primary;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 5rem;
   }

   .logo-s2i {
    width: 150px;
   }
   
   .logo-scuolacomics {
    width: 170px;
   }

   .descrizione {
    margin-bottom: 30px;
   }

   .titolo,
   .sottotitolo {
    font-weight: 600;
   }

   .sottotitolo {
    padding-bottom: 10px;
    border-bottom: 2px solid $secondary;
    margin-bottom: 15px;
   }

   hr {
    border: 2px solid $secondary;
   }

   .i-progress {
        width: 40px;
   }

   .progress-bar {
    background-color: $secondary;
   }

   h2 {
    font-size: 1.5rem;
    background-color: $secondary;
    color: $primary;
    border-radius: 5px;
    width:max-content;
    padding: 3px 15px;
   }

   .developer {
    width: 35px;
   }
}

.calltoaction {
    height: 300px;

    p {
        font-weight: 600;
        color: $primary;
        font-size: 1.5rem;
    }

    .bottone {
        background-color: $primary;
        color: $secondary;
        padding: 3px 10px;
        border-radius: 5px;
        font-size: 1.5rem;
        font-weight: 600;
        width: 500px;
        text-align: center;
        align-items: center;
    }

    .bottone:hover {
        background-color: $secondary;
        color: $primary;
        border: 1px solid $primary;
    }

  
}

.congiunzione {
    color: $white !important;
    font-size: 20px !important;
}

@media only screen and (min-width: 1000px) {
    .about {
        height: 700px;

        .tab-pane {
            height: 400px;
        }
    }
}




//PORTFOLIO SECTION
.portfolio-box {
    max-height: 35rem;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 1.2rem;
        
    img {
        width: 100%;
        max-height: 35rem;
        object-fit: fill;
    }

    .portfolio-info {
        background-color: rgba($primary, 0.75);
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        left: 0;
        opacity: 0;
        visibility: hidden;

        .portfolio-caption {
            text-align: center;
            color: $secondary;
            @include center-all;
            width: 80%;
        }

       
        h3 {
            text-transform: uppercase;
            font-weight: 600;
        }
 
    }
    &:hover {
        .portfolio-info {
            opacity: 1;
            visibility: visible;
            @include transition-p;
        }
    }
}

.logo-footer {
    height: 70px;
    width: auto;
    margin-top: 50px;
    
}


.btn {
    position: absolute;
    z-index: 1;
    top: 15%;
    left: 170px;
    opacity: 1;
    width: 300px;
    height: 300px;
    opacity: 0;
    
}

h2 {
    font-weight: 600;
    color: $secondary;
}

.titolo-sezione {
    color: $secondary;
}

//CONTATTI SECTION

.bottone-1 {
    background-color: $secondary;
    color: $primary;
    z-index: 1;
}
.btn {
    position: relative;
    opacity: 1;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    font-weight: 600;
    font-size: 1.2rem ;
    margin: 10px auto;
}

.form-check-input:checked {
    background-image: none;
    background-color: $secondary;
}

.form-check-input {
    background-color: $primary;
}

.logo-nero{

    height: 150px;
}